Load dataset:

In [1]:
from HumanGenomeDataset.load_dataset import load_dataset

data_df = load_dataset('dna_protein_coding_sequences')
data_df.head(2)

c:\Users\giuli\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

               ID                                           sequence category
0  NM_001368254.1  GCTGAGCTGAGCTGGGGCGCAGCCGCCTGTCTGCACCGGCAGCACC...       NM
1  NM_001350977.1  TCCACAACTGAAACATCCACTTCTGAACACCATGTCCTACTACAGC...       NM

Start simulation:

In [2]:
from src.simulation import ProteinSinthesisProcess
SIM_TIME = 5

In [3]:
protein_synthesis_process = ProteinSinthesisProcess(dna_sequences_df=data_df, verbose=False)
protein_synthesis_process.run(simulation_time=SIM_TIME) # run the simulation

Time 0.0000: DNA Sequence 0 requesting resources
Time 0.0000: DNA Sequence 0 got resource
Time 0.1113: DNA Sequence 1 requesting resources
Time 0.1113: DNA Sequence 1 got resource
Time 0.7526: DNA Sequence 2 requesting resources
Time 0.7526: DNA Sequence 2 got resource
Time 0.9057: DNA Sequence 3 requesting resources
Time 0.9057: DNA Sequence 3 got resource
Time 1.8512: DNA Sequence 4 requesting resources
Time 1.8512: DNA Sequence 4 got resource
Time 1.8512: DNA Sequence 4 synthetis ended
Time 2.2016: DNA Sequence 5 requesting resources
Time 2.2016: DNA Sequence 5 got resource
Time 2.2016: DNA Sequence 5 synthetis ended
Time 2.6410: DNA Sequence 6 requesting resources
Time 2.6410: DNA Sequence 6 got resource
Time 2.6410: DNA Sequence 6 synthetis ended
Time 3.1507: DNA Sequence 7 requesting resources
Time 3.1507: DNA Sequence 7 got resource
Time 3.4414: DNA Sequence 8 requesting resources
Time 3.4793: DNA Sequence 9 requesting resources
Time 4.3113: DNA Sequence 1 synthetis ended
Time 4.3113: DNA Sequence 8 got resource
Time 4.4676: DNA Sequence 10 requesting resources
Time 4.5613: DNA Sequence 2 synthetis ended
Time 4.5613: DNA Sequence 9 got resource
Time 4.5613: DNA Sequence 9 synthetis ended
Time 4.5613: DNA Sequence 10 got resource
Time 4.6613: DNA Sequence 3 synthetis ended

Results:

In [4]:
results_df = protein_synthesis_process.dna_sequences_df

In [5]:
results_df[results_df['mrna_sequences'].notna()].head(2)

,ID,sequence,category,mrna_sequences,polypeptides_chains,polypeptides_chains_ext,number_of_proteins_synthesized,protein_synthesized
38095,NM_001400874.1,GTATTCAGCGGCGACAGCGGCGACTGCGGCGGCCGCGGGAGGGCAT...,NM,[CH3GPPP-CAUAAGUCGCCGCUGUCGCCGCUGACGCCGCCGGCGC...,"[NH2-QKPRWGLVYYRHKLVFRQSLY-COOH, NH2-QKPRWGLVY...",[NH2-Gln-Lys-Pro-Arg-Trp-Gly-Leu-Val-Tyr-Tyr-A...,2,True
113258,XM_054330259.1,TACCAGATTCTATTTGTTAAAACTGAGTCACTCAGTACAGCTCCCA...,XM,[CH3GPPP-AUGGUCUAAGAUAAACAAUUUUGACUCAGUGAGUCAU...,"[NH2-V-COOH, NH2-V-COOH]","[NH2-Val-COOH, NH2-Val-COOH]",2,True

In [6]:
print('Number of DNA sequence traslated:', results_df[results_df['mrna_sequences'].notna()].shape[0])
print('Number of DNA sequence not traslated:', results_df[results_df['protein_synthesized']==False].shape[0])

Number of DNA sequence traslated: 3
Number of DNA sequence not traslated: 4

In [7]:
results_df[results_df['mrna_sequences'].notna()][[
    'polypeptides_chains', 'number_of_proteins_synthesized']]

,polypeptides_chains,number_of_proteins_synthesized
38095,"[NH2-QKPRWGLVYYRHKLVFRQSLY-COOH, NH2-QKPRWGLVY...",2
113258,"[NH2-V-COOH, NH2-V-COOH]",2
132315,[NH2-SEPPTRSTAEERERATGAWTGATHGSTSLTTSRTPYGTGKG...,1