In [24]:
import pandas as pd
from dna2protein import rev_seq, swap_dna

In [25]:
sequences_df = pd.read_csv('data/dna_data.csv', index_col=0)
sequences_df['dna_sequence'] = sequences_df['dna_sequence'].str.upper()
sequences_df.head(2)

                                         dna_sequence
1   CCAGAATGGT TACTATGGAC ATCCGCCAAC CATACAAGCT AT...
61  TCTCATTTTT AGTTTCAAAG CTTTTGTTAT AACACATGCA AA...

In [26]:
sequences_df['rev_seq'] = sequences_df['dna_sequence'].apply(rev_seq)
sequences_df['protein'] = sequences_df['dna_sequence'].apply(swap_dna).str.replace('_', '')

In [27]:
sequences_df.head(2)

,dna_sequence,rev_seq,protein
1,CCAGAATGGT TACTATGGAC ATCCGCCAAC CATACAAGCT AT...,TAGATAAAGC ATTTCACCAT AGCTTGTATG GTTGGCGGAT GT...,PEWNTMDNPPNHTSNWNNFI
61,TCTCATTTTT AGTTTCAAAG CTTTTGTTAT AACACATGCA AA...,ATTGGTTACG GATATGGATT TGCATGTGTT ATAACAAAAG CT...,SHFNVSKNFVNNTCNIHINP

In [28]:
sequences_df.to_csv('data/final_data.csv')